.hero {
  min-height: 250px;
  background: url('./banner.svg');
  padding-top: 50px;
  color: #E9E9E9;
  font-weight: 400;
}

.hero .text {
  font-family: 'Comfortaa', cursive;
  font-size: 64px;
  text-align: center;
}

.hero .minitext {
  color: #fff;
  padding-top: 1em;
  font-size: 16px;
  text-align: center;
}

.hero .strong {
  color: $lightColor;
  font-weight: 400;
}

.hero .main-buttons {
  padding: 2em 0;
  text-align: center;
}

.hero .main-buttons .btn {
  margin: 0 0.5em;
}
